<form
  nz-form
  nzLayout="vertical"
  [formGroup]="addDoctorForm"
  (ngSubmit)="submitForm()"
>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="lastName" nzRequired>
          <span>Nom </span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Ce champ est obligatoire!">
          <input
            nz-input
            id="lastName"
            formControlName="lastName"
            style="width: 100%"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="telephone" nzRequired>
          <span>Prénoms</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Ce champ est obligatoire!">
          <input
            nz-input
            id="firstName"
            formControlName="firstName"
            style="width: 100%"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nzFor="email" nzRequired>
          <span>Email</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Ce champ est obligatoire!">
          <input
            nz-input
            id="email"
            formControlName="email"
            style="width: 100%"
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nzFor="specialty" nzRequired>
          <span>Specialite</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Ce champ est obligatoire!">
          <input
            nz-input
            id="specialty"
            formControlName="specialty"
            style="width: 100%"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nzFor="telephone" nzRequired>
          <span>Telephone</span>
        </nz-form-label>
        <nz-form-control nzErrorTip="Ce champ est obligatoire!">
          <input
            nz-input
            id="telephone"
            formControlName="telephone"
            style="width: 100%"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-flex nzAlign="center" nzJustify="center">
    <nz-space>
      <button nz-button nzType="primary" [nzGhost]="true" (click)="onClose()">
        Annuler
      </button>
      &nbsp;&nbsp;
      <nz-form-item nz-row class="register-area">
        <nz-form-control>
          <button nz-button nzType="primary" [nzLoading]="loading">
            Enregistrer
          </button>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
  </nz-flex>
</form>
