<nz-card>
  <h2>Ajout d'un étudiant</h2>
  <br />
  <form
    nz-form
    nzLayout="vertical"
    [formGroup]="studentForm"
    (ngSubmit)="submitForm()"
  >
    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="lastName" nzRequired>
            <span>Nom </span>
          </nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer le nom de la classe!">
            <input
              nz-input
              id="lastName"
              formControlName="lastName"
              style="width: 100%"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="firstName" nzRequired>
            <span>Prénoms</span>
          </nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer le nom de la classe!">
            <input
              nz-input
              id="firstName"
              formControlName="firstName"
              style="width: 100%"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="gender" nzTooltipTitle="Ce champ est optionnel">
            <span>Genre</span>
          </nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer le nom de la classe!">
            <nz-radio-group id="gender" ngModel="Male" formControlName="gender">
              <label nz-radio nzValue="Male"> M</label>
              <label nz-radio nzValue="Female">F</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24 }">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="birthDate" nzRequired>
            <span>Date de naissance </span>
          </nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer la date de naissance!">
            <nz-date-picker
              id="birthDate"
              formControlName="birthDate"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="placeOfBirth" nzRequired>
            <span>Lieu de naissance</span>
          </nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer le lieu de naissance!">
            <input
              nz-input
              id="placeOfBirth"
              formControlName="placeOfBirth"
              style="width: 100%"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label nzFor="nationality" nzRequired>
            <span>Nationalité</span>
          </nz-form-label>
          <nz-form-control nzErrorTip="Veuillez entrer la nationalité!">
            <nz-select id="nationality" formControlName="nationality">
              @for (item of nationalitiesList; track $index) {
                <nz-option
                    [nzValue]="item"
                    [nzLabel]="item"
                ></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-flex nzAlign="center" nzJustify="center">
      <nz-space>
        <button
          nz-button
          nzType="primary"
          [nzGhost]="true"
          (click)="onCancel()"
        >
          Annuler
        </button>
        <nz-form-item nz-row class="register-area">
          <nz-form-control>
            <button nz-button nzType="primary">Enregistrer</button>
          </nz-form-control>
        </nz-form-item>
      </nz-space>
    </nz-flex>
  </form>
</nz-card>
